<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestBaiChuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A5E0C7A1D06C79F0033FDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5E0C931D06C79F0033FDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5E0C9E1D06C79F0033FDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
